body {
    padding: 5vw;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.MainJumbo {
    text-align: center;
    background-color: #DDDDDD;
}

.Title {
    padding: 50px;
    text-align: center ;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 7vw;
}

.display-3 {
    padding: 50px;
    text-align: center ;
    color: #000000;
    font-weight: normal;
    font-size: 7vw;
}

.display-4 {
    font-size: 4.5vw;
    font-weight: bolder;
}