body {
    padding: 5vw;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.HomeSearch {
    margin: auto;
    width: 75%;
}

.MainJumboTop {
    border-radius: 0 0 25px 25px;
    background-color: rgba(250, 250, 250, .20);
    text-align: center;
    color: #FFFFFF;
}

.MainJumboNotTop {
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(250, 250, 250, .20);
    text-align: center;
    color: #FFFFFF;
}

.Title {
    padding: 50px;
    text-align: center ;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 7vw;
}

.display-3 {
    padding: 50px;
    text-align: center ;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 7vw;
}

.display-4 {
    color: #FFFFFF;
    font-size: 4.5vw;
    font-weight: bolder;
}

.OfferImage {
    width: 50%;
}

.ReturnButton {
    margin: auto;
    position: absolute;
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .HomeSearch {
        width: 90%;
    }

}