.CarComponent {
  background-color: #eeeeee;
}
h2 {
  text-align: center;
}

.CarResults {
  list-style: none;
  width: 70%;
  margin: auto;
}

.CarList {
  overflow: hidden;
  margin-bottom: 50px;
  font-size: 1.2rem;
  text-align: center;
  background-color: #dddddd;
  border-style: solid;
}

.CarImage {
  float: left;
  height: 250px;
  width: 250px;
}