.CarResults {
  list-style: none;
  width: 50%;
  margin: auto;
}

.CardHeader {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.CarList {
  margin: auto;
  width: 90%;
}

.CarCardImage {
  width: 50%;
  height: 50%;
  float: left;
}